<% layout('layouts/boilerplate') -%>
<body>
    
    <div class = "row ">
        <div class="col col-8 offset-2 mt-3">
           
    <h3> Create A New Listing</h3>
    <br/>
 <form method = "post" action="/listings" novalidate class="needs-validation" enctype = "multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name ="listing[title]" placeholder = "Add a Catchy Title" type = "text" class = "form-control" required></input>
        <div class = "valid-feedback">Title looks good!</div>
    </div>
    
    <div class="mb-3">
     <label for="description" class="form-label">Description</label>
    <textarea name ="listing[description]"   id="description" placeholder = "enter description" class = "form-control" required></textarea>
    <div class = "invalid-feedback">Please enter a short description</div>
    </div>

    <!-- <div class="mb-3">
    <label for="image" class="form-label">Image</label> 
    <input name="listing[image][url]" placeholder ="enter url/link" id="image" type = "text" class = "form-control" >
   
</input>
    </div> -->

     <div class="mb-3">
    <label for="image" class="form-label">Image</label> 
    <input name="listing[image]" placeholder ="enter url/link" id="image" type = "file" class = "form-control" >
   </input>
    </div>
    <div class ="row">

      <div class="mb-3 col-md-4">
    <label for="price" class="form-label">Price</label>
    <input name ="listing[price]" placeholder = "1200" type = "number" id="price" class = "form-control" required></input>
     <div class = "invalid-feedback">Price should be valid</div>
    </div>

     <div class="mb-3 col-md-8">
    <label for="country" class="form-label">Country</label>
    <input name ="listing[country]" placeholder = "India" type = "text" id="country"class = "form-control" required></input>
    <div class = "invalid-feedback">Country name should be valid</div>
    </div>

    </div>

     <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input name ="listing[location]" placeholder = "Jaipur, Rajasthan" id="location" type = "text" class = "form-control" required></input>
     <div class = "invalid-feedback">Location should be valid</div>
    </div>


    <div id = "category">
    <div class="form-check ">
  <input class="form-check-input" name=listing[category] type="checkbox" value="Trending" id="trending">
  <label class="form-check-label" for="flexCheckDefault">
   Trending
  </label>
  </div>

  <div class="form-check ">
  <input class="form-check-input" name=listing[category] type="checkbox" value="Rooms" id="rooms">
  <label class="form-check-label" for="flexCheckDefault">
  Rooms
  </label>
  </div>

  <div class="form-check ">
  <input class="form-check-input" name=listing[category] type="checkbox" value="Iconic Cities" id="cities">
  <label class="form-check-label" for="flexCheckDefault">
    Iconic Cities
  </label>
</div>

<div class="form-check ">
  <input class="form-check-input" name=listing[category] type="checkbox" value="Mountains" id="mountains">
  <label class="form-check-label" for="flexCheckDefault">
   Mountains
  </label>
  </div>

  <div class="form-check ">
  <input class="form-check-input" name=listing[category] type="checkbox" value="Castles" id="castles">
  <label class="form-check-label" for="flexCheckDefault">
    Castles
  </label>
  </div>

  <div class="form-check ">
  <input class="form-check-input" name=listing[category] type="checkbox" value="Amazing Pools" id="pools">
  <label class="form-check-label" for="flexCheckDefault">
   Amazing Pools
  </label>
  </div>

  <div class="form-check ">
  <input class="form-check-input" name=listing[category] type="checkbox" value="Camping" id="camping">
  <label class="form-check-label" for="flexCheckDefault">
    Camping
  </label>
  </div>

  <div class="form-check ">
  <input class="form-check-input" name=listing[category] type="checkbox" value="Farms" id="farms">
  <label class="form-check-label" for="flexCheckDefault">
    Farms
  </label>
  </div>
  
  <div class="form-check ">
  <input class="form-check-input" name=listing[category] type="checkbox" value="Arctic" id="arctic">
  <label class="form-check-label" for="flexCheckDefault">
    Arctic
  </label>
  </div>

  <div class="form-check ">
  <input class="form-check-input" name=listing[category] type="checkbox" value="Domes" id="domes">
  <label class="form-check-label" for="flexCheckDefault">
   Domes
  </label>
  </div>

  <div class="form-check ">
  <input class="form-check-input" name=listing[category] type="checkbox" value="Boats" id="boats">
  <label class="form-check-label" for="flexCheckDefault">
    Boats
  </label>
  </div>

    <button class ="btn btn-dark add-btn mt-3"> Add </button>
    
 </form>
 </div>
 </div>
</body>
</html>